<!DOCTYPE html>
<html>
<head>
  <title>Status</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <style type="text/css" media="screen">
  body {
    line-height: 2rem;
    font-family: sans-serif, sans;
    font-size: 14px;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #000;
    text-align: center;
    font-stretch: condensed;
    -webkit-font-smoothing: antialiased;
  }

  a { color: #333; }

  .container {
    width: 960px;
    margin: 20px auto;
    text-align: left;
  }

  h1 {
    font-weight: normal;
    line-height: 2.8rem;
    font-size: 30px;
    letter-spacing: -1px;
    text-align: center;
    color: #333;
  }

  .container {
    width: 960px;
    margin:40px auto;
    overflow: hidden;
  }

  .statuses {
    background: #FFF;
    width: 100%;
    border-radius: 5px;
  }
  .statuses h1 { border-radius: 5px 5px 0 0; background: #f9f9f9; padding: 10px; border-bottom: 1px solid #eee;}
  .statuses .status {
    position: relative;
    font-size: 14px;
    border-bottom: 1px solid #c7c7c7;
    padding: 15px;
    padding-bottom: 5px;
  }
  .statuses .status:last-child { border-bottom: 0px; }
  .statuses .status .flap {
    display: none;
  }
  .statuses .status-error .flap {
    display: block;
    position: absolute;
    width: 10px;
    background: rgba(255, 0, 0, 0.6);
    left: 0;
    top: 5px;
    bottom: 5px;
  }

  .statuses .name { font-size: 20px; margin-right: 20px; min-width: 100px; font-weight: bold; color: #555; }
  .statuses .state {
    font-size: 14px;
    float: right;
    width: 25px;
    height: 25px;
    background-color: #369217;
    border-radius: 18px;
    box-shadow: 0px 0px 2px #888;
  }
  .statuses .status-error .message {
    color: #fff;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 8px;
    padding: 2px 10px;
  }
  .statuses .message { color: #666; }
  .statuses .status-graph {
    min-height: 80px;
  }
  .statuses .status-error .state { background-color: rgba(255, 0, 0, 0.8); }

  .graph-container path.path {
    stroke: #333;
    stroke-width: 2px;
    stroke-opacity: 1;
    fill: none;
  }
  .axis {
    fill: #aaa;
    font-size: 10px;
  }

  .graph-container .axis line,
  .graph-container .axis path {
    stroke-width: hairline;
    fill: none;
    stroke: #eee;
    shape-rendering: crispEdges;
  }

  .graph-container .left {
    display: inline-block;
    width: 250px;
    float: left;
  }

  .graph-container .left p {
    margin: 0 0 2px 0;
  }
  p.metric {
    text-transform: uppercase;
    font-weight: bold;
    color: #8c8c8c;
  }
  p.average {
    font-weight: bold;
    font-size: 30px;
    line-height: 0.7;
  }
  </style>
</head>

<body>
  <div class="container">
    <div class="statuses">
      <h1>Status Page</h1>
      <% @statuses[:results].each do |status| %>
      <div class="status status-<%= status[:status].downcase %> <%= (status[:graph_data] ? "status-graph" : "") %>">
        <div class="flap"></div>
        <div class="status-heading">
          <span class="name">
            <%= status[:name]  %>
          </span>
          <span class="state" title="<%= status[:status] %>"></span>
        </div>
        <div class="graph-container" data-string="<%= status[:graph_data].to_json %>" data-height="80" data-width="680"></div>
        <div class="message"><%= status[:message] %></div>
      </div>
      <% end %>
    </div>
  </div>
  <%= javascript_include_tag 'status_page/application' %>
</body>
